div {

}

h1 {
  margin: 50px auto 0;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;


}
.copyright{
  margin: 20px 0px;
  color: #EAF6F6;
  font-size: 0.75rem;
}
hr{
  width: 100%;
  border:dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}
span {
  text-decoration: underline;
}

body {
  color:40514E;
  text-align: center;
  margin: 0px;
  font-family: 'Merriweather', serif;
}

.cloud1 {
  position: absolute;
  right: 300px;
  top: 40px;
}

.cloud2 {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}

.mountain {
  margin-top: 23px;

}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle-container{

margin: 100px 0;
}
.bottom-container{
  background-color: #66BFBF;
padding : 50px 0 20px;
}
.intro{
  width: 30%;
  display: inline-block;
}
.skill-row {
  margin: 100px auto 100px;
  ;
  width: 50%;
  text-align: left;
}

.programming {
  width: 25%;
  float: left;
  margin-right: 50px;
}

.personality {
  width: 25%;
  float: right;
  margin-left: 50px;
  margin-bottom: 30px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  text-shadow: 1px 1px 30px #402540;
  font-family: 'Montserrat', sans-serif;
  color: #080708;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
